*{
    font-family: 'Outfit', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    margin: 0;
    padding: 0;
}

body{
    background-color:hsl(212, 45%, 89%);
    min-height: 100vh;
}

.main-container{
    display: flex;
    justify-content: center; /*horizontal*/
    align-items: center;
    flex-direction: column;
    
    padding: 50px 0;
    
    gap: 10px;
 
}
.inner-container{
    max-width: 288px;
    background-color:hsl(0, 0%, 100%) ;
    padding: 15px;
    align-items: center;
   border-radius: 10px;
}
.qr{
    display: grid;
}
.inner-container .qr img{
    width: 288px;
    border-radius: 10px;
    place-self: center;
}

.text-container{
    text-align: center; 
    max-width: 288px;
    margin-block: 20px; ;
}

.text-container h1{
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    margin-block: 10px;
}

.text-container p{
    font-size: 15px;
    font-weight: 400;
    color:hsl(220, 15%, 55%) ;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

